.pie{
    margin-top: map-get($pie , margenSuperior );
    font-size: map-get($pie , tamañoFuente );
    background-color: map-get($pie , colorFondo );
    color: $colorFuente;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 15px;
    ul {
        list-style: none;
        display: flex;
        justify-content: space-around;
        align-items: center;

    }
}

.footerContacto{
    padding: 0.5rem 0;
}