.navbar{
    background-color: $colorPrimario !important;
    color: $colorFuente;
}


.carousel-inner{
    h5{
        font-size: 25px;
    }
    p{
        font-size: 15px; 
    }
}

.botonNosotros{
    display: flex;
    justify-content: center;
}
